@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{   margin: 0;}
main{
   /*  width: 100%; */
}
.content{
   
}
/* #board-Notice{
    width: 80%;
    background: #bdc3c7;  fallback for old browsers
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+   
} */

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #302b65; 
    border-radius: 10px;
}
