* {box-sizing: border-box;}

#side-bar{
    width: 20%;
    height: 100vh;

    /* background-color: #003458; */
    background-color: #003458;
    
    position: sticky;
    top: 0;
    overflow: hidden;
}

#side-bar>div:nth-child(1){
    height: 15%;
    display: block;
    padding-top: 30px;
    /* border: 1px solid red; */
}

#logo{
    /* border: 2px solid red; */
    width: 250px;
    display: block;
    margin: 20px auto;
}
#side-bar>div:nth-child(2){
    height: 13%;
    display: block;
    margin-top: 50px;
    /* background-color: white; */
    border-radius: 50%;
    /* border: 1px solid red; */
}
.admin-info > *{
    display: flex;
    justify-content: center;
}
.admin-info:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.admin-info>img{
    width: 100px;
    border-radius: 50%;
    /* margin-bottom: 20px; */
}
#alert{
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 100;
    top: 0;
    font-size: 19px;
    font-weight: bold;
    color: #ddd;
    background-color: rgb(241, 62, 62);
    border-radius: 50%;
    text-align: center;
}
#admin-name{
    font-size:24px;
    font-weight: bold;
    color: white;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
}
#admin-email{ 
    font-size: 14px;
    color: gray;
}
#side-bar>div:nth-child(3){
    height: 62%;
    margin:10px auto;
}
#menu-bar  ul{
    list-style: none;
    display: block;
    color: white;
}
#menu-bar  ul:first-child{
    padding-top: 30px;
}

#menu-bar{
    padding-top: 20px;
}

.menu{
    width: 80%;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    
    padding-top: 7px;
    padding-bottom: 1px;
    border-top: 1px solid white;
    /* border: 1px solid red; */
}
.menu>ul{
    padding-left: 0;
}
.board-list> a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    display: none;
    /* visibility: hidden; */
    height: 0;
    font-size: 2px;
}
.board-list{
    margin-top:8px;
    height: 0;
    transition-duration: 0.5s;
}
.menu:hover{
    font-size: 35px;
    color: white;
    transition-duration: 0.2s;
    
}

.menu:hover > ul > .board-list{ 
    height: 50px;
}

.menu:hover > ul a{ 
    font-size: 20px;
    /* visibility: visible; */
    /* transition-duration: 0.5s; */
    height: 30px;
    display: block;
}
.menu:hover > ul a:hover{
    font-size: 25px;
    font-weight: bold;
    height: 80px;
}

#side-bar>div:nth-child(4){
    height: 50%;
    display: block;
    margin-left: 20px;
    /* border: 1px solid rgb(192, 192, 192); */
}
#side-bar>div:nth-child(4)>a{
    height: 100;
    text-decoration: none;
    font-size: 17px;
    color:white;
    
    border-top: 2px solid white;
    margin: 10px;
    padding-top: 3px;
}


/* -------------------------------------- */
#menu-bar{
    height: 100px;
    /* border: 1px solid red; */
}

#menu-bar > div:nth-of-type(1){
    /* border: 1px solid red; */
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: white;
    width: 80%;
    margin-left: 27px;
    margin-bottom: 30px;
}
