#faq-content{
    width: 100%;
}
#faq-content-header{
    height: 10px;
    display: block;
    font-size: 35px;
    color: #003458;
    background-color: gray;
    margin: 0;
    padding: 20px 0 10px 35px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------ */
/* 버튼 영역 */


#faq-wrapper{
    min-height: 500px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid red;
}
.tab-menu-area{
    border-bottom: 2px solid #003458;
}
.tab-menu-area button{
    width: 100px;
    height: 25px;
    border: 0;
}
.tab-menu-area{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 3px solid #003458;
}
.tab-menu-area a{
    display: flex;
    position: relative;
    width: 20%;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
/* .tab-menu-area a::after{
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 2px;
    height: 28px;
    background-color: #ddd;
} */
/* .tab-menu-area a::after{
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 2px;
    height: 28px;
    background-color: #ddd;
} */


.tab-menu-area a:hover{
    background-color: #003458;
    color: white;
}

.choice a{
    background-color: #003458;
    color: white;
}

/* 메뉴바 부분  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*  내용 부분 */

.faq-content-area{
    width: 100%;
    min-height: 500px;
    padding:10px;
}

.faq-ul{
    padding: 0;
}
.faq-ul *{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.faq-list{
    margin-bottom: 5px;
}

.faq-header{
    height: 38px;
    border: 1px solid black;
    display: flex;
}
.faq-header span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.faq-header  .faq-category{width: 10%; background-color: lightgray; border-radius: 5px;}
.faq-header  .faq-title{width: 70%; background-color: #ddd; justify-content: flex-start; padding-left: 10px;}
.faq-header  .faq-createDate{width: 20%; background-color: gray;}



/* 내용 영역 */
.faq-content{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    display: none;
}

.active{
    display: block;
}

.faq-header:hover +.faq-content{
    display: block;
    transition-duration: 1s;
}