#notice-content{
    width: 100%;
}
#notice-content-header{
    height: 10px;
    display: block;
    font-size: 35px;
    color: #003458;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 20px 0 10px 35px;
}

/* ------------------------------------------------------------- */

#notice-wrapper{
    min-height: 500px;
    margin: 10px auto;
    padding: 5px;
}
.tab-menu-area{
    border-bottom: 2px solid #003458;
}
.tab-menu-area button{
    width: 100px;
    height: 25px;
    border: 0;
}
.tab-menu-area{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 3px solid #003458;
}
.tab-menu-area a{
    display: flex;
    position: relative;
    width: 20%;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
/* ------------------------------------------------------------- */



.notice-content-area{
    padding: 20px;
    
}
.notice-header{
    height: 38px;
    display: flex;
    border-top: 2px solid #003458;
}

.notice-ul{
    padding-left: 0;
}
.notice-list{
    list-style: none;
}
.notice-list span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.notice-category{
    height:100%;
    width:15%;
}
.notice-title{
    height:100%;
    width:65%;
    text-align:left;
}
.notice-createDate{
    height:100%;
    width:20%;
    text-align: left;
}